$bg_color: #151515;
$box_bg: #222;
$sub: #fdfdfd;


//contact color
$contact_main: #F70;
$contact_sub: #FFD1A8;
$now_gradient: linear-gradient(229deg, #FFD1A8 17.57%, #F70 86.93%);

header {
    .header__wrap .title_img {
        background: $now_gradient;
    }
}
h2 {
    span {
        margin-left: 8px;
        background: $now_gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

body.light{
    background-color: $sub;
    color: $box_bg;
}



@media (prefers-color-scheme: dark) {
    header {
        .header__wrap .title_img {
            background: $now_gradient;
        }
    }

    h2 {
        span {
            background: $now_gradient;
        }
    }
}