@font-face {
  font-family: "HamIsCute";
  src: url(../font/HamIsCute-Regular.woff2) format(woff2), url(../font/HamIsCute-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}
.font_hamiscute {
  font-family: "HamIsCute";
  font-weight: 400;
  font-style: normal;
}

header .header__wrap .title_img {
  background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
}

h1 span,
h2 span {
  margin-left: 8px;
  background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro .intro__title {
  font-size: 3.25rem;
  font-weight: 800;
  background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .intro__textbox {
  padding: 3.5rem 0 2.5rem;
  text-align: center;
}
.intro .intro__textbox .textbox_title p {
  font-size: 1.75rem;
  opacity: 0.85;
  font-weight: 700;
}
.intro .intro__textbox .textbox_bottom {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.intro .intro__textbox .textbox_bottom p {
  opacity: 0.8;
}
.intro .nextpage {
  position: absolute;
}

.nextsteps {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nextsteps .timeline__textbox {
  margin: 3rem 0;
  text-align: center;
}
.nextsteps .timeline__textbox .textbox_title {
  margin-bottom: 1.5rem;
}
.nextsteps .timeline__textbox .textbox_title p {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
}
.nextsteps .timeline__timelinewrap {
  display: flex;
  width: 950px;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
  border-top: 1px solid rgba(253, 253, 253, 0.2);
}
.nextsteps .timeline__timelinewrap .timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nextsteps .timeline__timelinewrap .timeline .timeline_left {
  font-size: 1.5rem;
  font-weight: 700;
  flex: 0 0 auto;
}
.nextsteps .timeline__timelinewrap .timeline .timeline_line {
  flex: 1;
  padding: 0 2rem;
}
.nextsteps .timeline__timelinewrap .timeline .timeline_line .line {
  height: 1px;
  background: rgba(253, 253, 253, 0.1);
}
.nextsteps .timeline__timelinewrap .timeline .timeline_right {
  flex: 0 0 auto;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(1) .timeline_left {
  color: #A8F38E;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(1):hover .timeline_line .line, .nextsteps .timeline__timelinewrap .timeline:nth-child(1).active .timeline_line .line {
  background: rgba(168, 243, 142, 0.3);
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(1):hover .timeline_right, .nextsteps .timeline__timelinewrap .timeline:nth-child(1).active .timeline_right {
  color: #A8F38E;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(2) .timeline_left {
  color: #93EB80;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(2):hover .timeline_line .line, .nextsteps .timeline__timelinewrap .timeline:nth-child(2).active .timeline_line .line {
  background: rgba(147, 235, 128, 0.3);
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(2):hover .timeline_right, .nextsteps .timeline__timelinewrap .timeline:nth-child(2).active .timeline_right {
  color: #93EB80;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(3) .timeline_left {
  color: #7CE370;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(3):hover .timeline_line .line {
  background: rgba(124, 227, 112, 0.3);
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(3):hover .timeline_right {
  color: #7CE370;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(4) .timeline_left {
  color: #4DD150;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(4):hover .timeline_line .line, .nextsteps .timeline__timelinewrap .timeline:nth-child(4).active .timeline_line .line {
  background: rgba(77, 209, 80, 0.3);
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(4):hover .timeline_right, .nextsteps .timeline__timelinewrap .timeline:nth-child(4).active .timeline_right {
  color: #4DD150;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(5) .timeline_left {
  color: #20C130;
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(5):hover .timeline_line .line, .nextsteps .timeline__timelinewrap .timeline:nth-child(5).active .timeline_line .line {
  background: rgba(32, 193, 48, 0.3);
}
.nextsteps .timeline__timelinewrap .timeline:nth-child(5):hover .timeline_right, .nextsteps .timeline__timelinewrap .timeline:nth-child(5).active .timeline_right {
  color: #20C130;
}
.nextsteps .about__introtext {
  margin: 5rem 0;
  transition: all 0.4s ease;
}
.nextsteps .about__introtext p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: rgba(253, 253, 253, 0.8);
  line-height: 45px;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.nextsteps .about__introtext p span {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nextsteps .nextsteps__textbox {
  text-align: center;
  padding: 5rem 0 2rem;
}
.nextsteps .nextsteps__textbox .nextsteps_title {
  margin-bottom: 2rem;
}
.nextsteps .nextsteps__textbox .nextsteps_title p {
  font-size: 2rem;
  opacity: 0.8;
  font-weight: 600;
}
.nextsteps .nextsteps__textbox .nextsteps_innertext {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.nextsteps .nextsteps__goalbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 2rem 0 7rem;
}
.nextsteps .nextsteps__goalbox .goalbox {
  background: rgba(253, 253, 253, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 1.5rem;
}
.nextsteps .nextsteps__goalbox .goalbox .goalbox_svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.nextsteps .nextsteps__goalbox .goalbox .goalbox_svg svg {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.nextsteps .nextsteps__goalbox .goalbox .goalbox_svg svg path {
  stroke: #93EB80;
}
.nextsteps .nextsteps__goalbox .goalbox p {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
}
.nextsteps .nextsteps__goalbox .goalbox p span {
  font-size: 1.125rem;
  font-weight: 700;
  color: #93EB80;
}
.nextsteps .nextsteps__goalbox .goalbox:last-child .goalbox_svg svg path {
  stroke: #20C130;
}
.nextsteps .nextsteps__goalbox .goalbox:last-child p span {
  color: #20C130;
}

.about .about__bottom {
  top: 4.5rem;
  margin: 1rem;
  width: calc(100% - 2rem);
  height: calc(100vh - 5.5rem);
  border-radius: 8px;
  border: 1px solid rgba(253, 253, 253, 0.2);
  overflow: hidden;
}
.about .about__bottom a, .about .about__bottom a:active {
  color: #fff;
}
.about .about__bottom .about__gridwrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.about .about__bottom .about__gridwrap > li {
  border-top: 1px solid rgba(253, 253, 253, 0.2);
  padding: 0.25rem 0;
}
.about .about__bottom .about__gridwrap > li a,
.about .about__bottom .about__gridwrap > li p {
  margin: 0 4px;
}
.about .about__bottom .about__gridwrap .about__grid_innerbox > p {
  color: #88b06d;
  height: 28px;
  line-height: 28px;
}
.about .about__bottom .about__gridwrap .about__grid_innerbox li {
  border-top: 1px solid rgba(253, 253, 253, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .about__bottom .about__gridwrap .about__grid_innerbox li .about__grid_svg {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 4px;
}
.about .about__bottom .about__gridwrap .about__grid_innerbox li .about__grid_svg svg {
  width: 16px;
  height: 16px;
}
.about .about__bottom .about__gridwrap .about__grid_innerbox li .about__grid_svg svg path {
  stroke: rgba(253, 253, 253, 0.8);
}
.about .about__bottom .about__gridwrap .about__grid_innerbox li > p {
  height: 24px;
  line-height: 24px;
  opacity: 0.9;
}
.about .about__bottom .about__gridwrap .grid01 {
  grid-row: span 1;
  grid-column: span 10;
  border: 0;
}
.about .about__bottom .about__gridwrap .grid02 {
  grid-row: span 1;
  grid-column: span 5;
}
.about .about__bottom .about__gridwrap .grid03 {
  grid-row: span 1;
  grid-column: span 2;
}
.about .about__bottom .about__gridwrap .grid04 {
  grid-row: span 1;
  grid-column: span 3;
}
.about .about__bottom .about__gridwrap .grid05 {
  grid-row: span 1;
  grid-column: span 4;
}
.about .about__bottom .about__gridwrap .grid06 {
  grid-row: span 1;
  grid-column: span 2;
}
.about .about__bottom .about__gridwrap .grid07 {
  grid-row: span 1;
  grid-column: span 2;
}
.about .about__bottom .about__gridwrap .grid08 {
  grid-row: span 1;
  grid-column: span 4;
}
.about .about__bottom .about__gridwrap .grid09 {
  grid-row: span 1;
  grid-column: span 4;
}
.about .about__bottom .about__gridwrap .grid10 {
  grid-row: 3/span 2;
  grid-column: 9/span 2;
}
.about .about__bottom .about__gridwrap .grid01 {
  font-size: 4vw;
}
.about .about__bottom .about__gridwrap .grid01 a {
  color: #20C130;
}
.about .about__bottom .about__gridwrap .grid02 > p {
  font-weight: 300;
  font-size: 2.5vw;
  color: rgba(253, 253, 253, 0.8);
}
.about .about__bottom .about__gridwrap .grid05 {
  font-size: 2vw;
  display: flex;
  justify-content: end;
  align-items: end;
  color: rgba(253, 253, 253, 0.8);
}
.about .about__bottom .about__gridwrap .grid08 {
  display: flex;
  justify-content: end;
  align-items: start;
  font-size: 2.5vw;
  color: rgba(253, 253, 253, 0.8);
}
.about .about__bottom .about__gridwrap .grid10 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__bottom .about__gridwrap .grid10 .about__grid_img {
  width: 75%;
  aspect-ratio: 1/1;
  background-image: url(../asset/dlwldms.png);
  background-size: cover;
  background-position: center center;
}

body.light {
  background-color: #fdfdfd;
}
body.light .intro .timeline__timelinewrap .timeline .timeline_line .line {
  background: rgba(34, 34, 34, 0.2);
}
body.light .about__bottom {
  background-color: #fdfdfd;
  border: 1px solid rgba(21, 21, 21, 0.3);
}
body.light .about__bottom a, body.light .about__bottom a:active {
  color: #222;
}
body.light .about__bottom .about__gridwrap > li {
  border-top: 1px solid rgba(21, 21, 21, 0.3);
}
body.light .about__bottom .about__gridwrap .grid02 > p {
  color: #222;
}
body.light .about__bottom .about__gridwrap .grid05, body.light .about__bottom .about__gridwrap .grid08 {
  color: #222;
  opacity: 0.8;
}
body.light .about__bottom .about__gridwrap .grid05 > p, body.light .about__bottom .about__gridwrap .grid08 > p {
  font-weight: 700;
}
body.light .about__bottom .about__gridwrap .grid10 .about__grid_img {
  background-image: url(../asset/dlwldms_light.png);
}
body.light .about__bottom .about__gridwrap .about__grid_innerbox li {
  border-top: 1px solid rgba(21, 21, 21, 0.3);
}
body.light .about__bottom .about__gridwrap .about__grid_innerbox li .about__grid_svg svg path {
  stroke: #222;
}
body.light .nextsteps .nextsteps__goalbox .goalbox {
  background: #fdfdfd;
  border: 1px solid rgba(21, 21, 21, 0.1);
}

@media (prefers-color-scheme: dark) {
  header .header__wrap .title_img {
    background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  }
  h1 span, h2 span {
    background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  }
  .intro .intro__title {
    background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  }
  .timelines .about__introtext p span {
    background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  }
  .timelines .timeline__goalbox .goalbox .goalbox_svg p span {
    background: linear-gradient(229deg, #A8F38E 17.57%, #20C130 86.93%);
  }
}
@keyframes bgrotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@media screen and (max-width: 1023px) {
  .intro .timeline__timelinewrap {
    width: 85%;
    margin: 0 auto 6rem;
    gap: 3rem;
    padding-top: 3rem;
  }
  .intro .timeline__timelinewrap .timeline {
    flex-wrap: wrap;
  }
  .intro .timeline__timelinewrap .timeline .timeline_left {
    font-size: 1.5rem;
  }
  .intro .timeline__timelinewrap .timeline .timeline_line {
    padding: 0 1rem;
  }
  .intro .timeline__timelinewrap .timeline .timeline_right {
    font-size: 0.875rem;
  }
  .about .about__bottom .about__gridwrap {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
  }
  .about .about__bottom .about__gridwrap .grid01 {
    grid-column: span 7;
    font-size: 5.75vw;
  }
  .about .about__bottom .about__gridwrap .grid02 {
    grid-column: span 3;
  }
  .about .about__bottom .about__gridwrap .grid02 > p {
    font-size: 3vw;
  }
  .about .about__bottom .about__gridwrap .grid03 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid04 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid05 {
    grid-column: span 7;
    font-size: 4vw;
  }
  .about .about__bottom .about__gridwrap .grid06 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid07 {
    grid-column: span 3;
  }
  .about .about__bottom .about__gridwrap .grid08 {
    grid-column: span 3;
    font-size: 3.5vw;
  }
  .about .about__bottom .about__gridwrap .grid09 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid10 {
    grid-row: 4/span 2;
    grid-column: 6/span 2;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__title {
    font-size: 2.75rem;
  }
  .intro .intro__textbox {
    padding: 2.5rem 0;
  }
  .intro .intro__textbox .textbox_title {
    flex-direction: column;
  }
  .intro .intro__textbox .textbox_title p {
    font-size: 1.5rem;
  }
  .intro .intro__textbox .textbox_bottom {
    padding: 1.5rem 1rem 0 1rem;
  }
  .intro .intro__textbox .textbox_bottom p {
    font-size: 0.875rem;
  }
  .intro .intro__textbox .textbox_bottom p:nth-child(1) {
    display: none;
  }
  .nextsteps .timeline__textbox {
    margin: 2rem 0;
  }
  .nextsteps .timeline__textbox .textbox_title p {
    font-size: 1.25rem;
  }
  .nextsteps .timeline__textbox .textbox_bottom p:nth-child(1) {
    display: none;
  }
  .nextsteps .timeline__textbox .textbox_bottom p:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .nextsteps .timeline__timelinewrap {
    width: calc(100% - 2rem);
    gap: 2.5rem;
    padding-top: 2.5rem;
  }
  .nextsteps .timeline__timelinewrap .timeline .timeline_left {
    font-size: 1.25rem;
  }
  .nextsteps .nextsteps__textbox {
    padding: 3rem 0 2rem;
  }
  .nextsteps .nextsteps__textbox .nextsteps_title {
    margin-bottom: 1.5rem;
  }
  .nextsteps .nextsteps__textbox .nextsteps_title p {
    font-size: 1.5rem;
  }
  .nextsteps .nextsteps__textbox .nextsteps_innertext {
    padding: 0 1rem;
  }
  .nextsteps .nextsteps__textbox .nextsteps_innertext p {
    font-size: 0.875rem;
  }
  .nextsteps .nextsteps__textbox .nextsteps_innertext p:nth-child(3) {
    display: none;
  }
  .nextsteps .nextsteps__goalbox {
    flex-direction: column;
    max-width: 340px;
    width: 90%;
  }
  .nextsteps .nextsteps__goalbox .goalbox {
    width: 100%;
  }
  .nextsteps .nextsteps__goalbox .goalbox .goalbox_svg {
    margin-right: 4px;
  }
  .nextsteps .nextsteps__goalbox .goalbox .goalbox_svg svg {
    width: 20px;
    height: 20px;
  }
  .nextsteps .nextsteps__goalbox .goalbox p {
    font-size: 0.875rem;
  }
  .nextsteps .nextsteps__goalbox .goalbox p span {
    font-size: 1.125rem;
  }
  .about .about__bottom {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100vh - 5rem);
  }
  .about .about__bottom .about__gridwrap {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }
  .about .about__bottom .about__gridwrap .about__grid_innerbox .about__grid_svg {
    width: 14px;
    height: 14px;
  }
  .about .about__bottom .about__gridwrap .about__grid_innerbox li > p {
    height: 22px;
    line-height: 22px;
    font-size: 0.875rem;
  }
  .about .about__bottom .about__gridwrap .grid01 {
    grid-column: span 6;
    font-size: 6vw;
  }
  .about .about__bottom .about__gridwrap .grid02 {
    grid-column: span 6;
  }
  .about .about__bottom .about__gridwrap .grid02 > p {
    font-size: 5vw;
  }
  .about .about__bottom .about__gridwrap .grid03 {
    grid-column: span 3;
  }
  .about .about__bottom .about__gridwrap .grid04 {
    grid-column: span 3;
  }
  .about .about__bottom .about__gridwrap .grid05 {
    grid-column: span 6;
    font-size: 4.5vw;
  }
  .about .about__bottom .about__gridwrap .grid06 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid07 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid08 {
    grid-column: span 2;
    font-size: 3.25vw;
  }
  .about .about__bottom .about__gridwrap .grid09 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid10 {
    grid-row: 5/span 2;
    grid-column: 5/span 2;
  }
  .aboutintro .about__introtext p {
    font-size: 1.125rem;
    line-height: 35px;
  }
  .aboutintro .about__introtext p span {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 640px) {
  .nextsteps .timeline__timelinewrap .timeline .timeline_left {
    flex: 1;
  }
  .nextsteps .timeline__timelinewrap .timeline .timeline_line {
    flex: 0 0 auto;
    padding: 0 0.75rem;
  }
  .nextsteps .timeline__timelinewrap .timeline .timeline_line .line {
    height: 24px;
    width: 1px;
  }
  .nextsteps .timeline__timelinewrap .timeline .timeline_right {
    flex: 1;
  }
}
@media screen and (max-width: 479px) {
  .about .about__bottom .about__gridwrap {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .about .about__bottom .about__gridwrap .grid01 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid02 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid02 > p {
    font-size: 5.5vw;
  }
  .about .about__bottom .about__gridwrap .grid03 {
    grid-column: span 1;
  }
  .about .about__bottom .about__gridwrap .grid04 {
    grid-column: span 1;
  }
  .about .about__bottom .about__gridwrap .grid05 {
    grid-column: span 2;
  }
  .about .about__bottom .about__gridwrap .grid06 {
    grid-column: span 1;
  }
  .about .about__bottom .about__gridwrap .grid07 {
    grid-column: span 1;
  }
  .about .about__bottom .about__gridwrap .grid08 {
    grid-column: span 1;
    font-size: 5vw;
  }
  .about .about__bottom .about__gridwrap .grid09 {
    grid-column: span 1;
  }
  .about .about__bottom .about__gridwrap .grid10 {
    grid-row: 6/span 2;
    grid-column: 2/span 1;
  }
  .aboutintro .about__introtext p {
    padding: 0 10px;
    font-size: 0.875rem;
    line-height: 30px;
  }
  .aboutintro .about__introtext p span {
    font-size: 1.125rem;
  }
  .aboutintro .about__text {
    width: 310px;
  }
  .aboutintro .about__text .textbox .textbox_svg {
    width: 24px;
  }
  .aboutintro .about__text .textbox p {
    font-size: 0.875rem;
  }
  .aboutintro .about__text .textbox p span {
    font-size: 1rem;
  }
}